Babel
click
filelock
Flask
flask-http-middleware
jinja2
jsonschema
pydantic<2.0
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely
SQLAlchemy
tinydb
#dokanalyse==0.0.4
dokanalyse @ file:///home/toranders/dev/dok.arealanalyse.process
